@import "node_modules/bootstrap/scss/bootstrap";

.container {
  text-align: center;
}

.container-fluid {
  text-align: center;
}

.hero{
  background-color: gray;
}


.footer {
  position: absolute;
  bottom: 0;
  .address{
    position: relative;
    float: left;
  }
  .copyright {
    position: relative;
    float: right;
  }
}