@import 'node_modules/bootstrap/scss/bootstrap';

.container {
    text-align: center;
}

.container-fluid {
    text-align: center;
    padding: 0;
}

.hero {
    background-color: gray;
    display: inline-block;
}

.background-img {
    width: 55%;
    float: right;
    margin: 0;
}

.footer {
    .address {
        position: relative;
        float: left;
    }
    .copyright {
        position: relative;
        float: right;
    }
}
